/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* common */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content:"";
    display: block;
    clear: both;
}
.notice {
    color: green;
    margin: 0 0 30px 33px;

}
/* top.html.erb */
.p-top {
    margin: 33px;
    font-family: verdana, ariel, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}
/* index.html.erb */

main{
    margin: 33px;
    font-family: verdana, ariel, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
table {
    border-collapse: separate;
    border-spacing: 2px;
}

tr {
    padding: 10px 10px 5px 0;
}
td {
    padding: 0 5px 7px 5px;
}
a {
    color: black;
}

h2 {
    padding: 20px 0;
}
.text{
    margin-bottom: 10px;
}

/*show.html.erb*/


.show-texts {
    margin:0 0 30px 33px;

}
.p-show1{
    margin: 0 0 25px 0;
}
.p-show2{
    float: left;
    margin-right: 5px;

}
span{
    font-weight: bold;
}

/* edit.html.erb */
.form-edit-box{
    margin-bottom: 20px;
}
.edit-submit{
    margin-bottom: 15px;
}
.image1{
    background-image:url(image1.jpg);
}
.image2{
    background-image:url(image2.jpg);
}
.image3{
    background-image:url(image3.jpg);
}
.image4{
    background-image:url(image4.jpg);
}
.image5{
    background-image:url(image5.jpg);
}
#container{
    height: 500px;
}